body
{
    background-color: rgb(246, 246, 246)
}

.table>tbody>tr>td
{
    vertical-align: middle;
}

.border-style
{
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(197, 197, 197);
}

.card-style
{
    color: white;
    text-align: center;
    background-color: rgb(52, 58, 64);
    border-radius: 3px;
    padding: 5px;
}

#brand
{
    font-family: 'CherrySwash';
    font-size:x-large;
    color: white;
}

@font-face
{
    font-family: CherrySwash;
    src: url(fonts/CherrySwash-Bold.ttf);
}
